:root,
body  {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: #1f2937;
}

*,
::before,
::after {
	box-sizing: inherit;
}

img	{
	width: 10em;
}

/* HEADER */
header	{
	background-color: #1f2937;
	color: #f9faf8;
	display: flex;
	flex-direction: column;
}

nav	{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav .flex-items	{
	align-items: center;
	display: flex;
	height: 2.5em;
	justify-content: center;
}

#header-title	{
	font-family: serif;
	font-size: 2rem;
	font-weight: lighter;
	letter-spacing: .5em;
	text-decoration-line: underline;
}

#header-list	{
	display: flex;
	gap: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav .left-items	{
	margin-left: 15em;
}

nav .right-items	{
	margin-right: 15em;
}

.intro  {
	display: flex;
	flex-direction: row;
	gap: 1em;
	padding: 5em 15em; 
}

.intro .flex-items  {
	display: flex;
	width: 50%;
}

.intro .left-items	{
	flex-direction: column;
	justify-content: center;
}

.intro .right-items	{
	align-content: center;
	justify-content: flex-start;
}

.intro h2	{
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	text-align: start;
}

.intro p	{
	text-align: justify;
}

.intro button	{
	width: 6em;
	height: 2em;
	border-radius: .5em;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: bolder;
}
.intro picture	{
	display: flex;
	justify-content: center;
	width: 100%;
}

#intro-picture  {
	width: 40em;
	height: 25em;
	object-fit: cover;
}

/* MAIN */
#info h2	{
	color: #1f2937;
	font-size: 2rem;
	margin: 1em 0;
	text-align: center;
}

.info-container	{
	align-items: center;
	display: flex;
	gap: 2em;
	justify-content: center;
	margin-bottom: 2em;
}

.info-items	{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	justify-content: center;
	text-align: center;
	width: 300px;
}

.info-picture	{
	align-items: center;
	display: flex;
	height: 300px;
	justify-content: center;
	width: 250px;
}

.info-picture a	{
	height: 100%;
	width: 100%;
}

.info-picture img	{
	border: 8px solid #3882f6;
	border-radius: 1em;
	height: 100%;
	object-fit: fill;
	width: 100%;
}

.info-items p	{
	align-self: flex-end;
	color: #1f2937;
	height: 80px;
	margin: 0;
	font-weight: 300;
}

/*  */

#quote	{
	background-color: #e5e7eb;
	color: #1f2937;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote	{
	font-size: 2.5rem;
	margin-bottom: 0;
	padding: 1em;
	text-align: justify;
	width: 70%;
	font-weight: 200;
}
#quote p	{
	font-size: 1.5rem;
	margin-left: 60em;
	font-weight: 900;
}

/*  */
#newsletter	{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

.newsletter-box	{
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: .5em;
	padding: 2em 3em;
	gap: 2em;
	display: flex;
	align-items: center;
}

.newsletter-box h3,
.newsletter-box p	{
	margin: 0;
	padding: .5em;
}

.newsletter-box button	{
	background-color: #3882f6;
	border: 2ps solid #f9faf8;
	border-radius: .5em;
	width: 6em;
	height: 2em;
	color: #f9faf8;
}

/* FOOTER */
footer	{
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	font-size: 1rem;
}

a:link,
a:visited,
a:hover	{
	text-decoration: none;
	color: #f9faf8;
}





