:root,
body  {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

*,
::before,
::after {
	box-sizing: inherit;
	/*  */
	border: 1px solid red;
}

img	{
	width: 10em;
}

/* HEADER */

